*{
  margin:0;
  padding: 0;
  
}


body {
 
  background-repeat: no-repeat, repeat;
  background-size: 1790px;
  min-width: 1330px;
  background-color: yellow;
  
  background-image: url(/public/fundo.jpg );
}
 h1{
  color: #333;
 }
 p{
  background-color: #180303;
  padding: 10px;
  
 }
  #menu{
    float:right;
  }
  
  
  