   
#cood{
    background-color: rgb(14, 13, 13);
    border: 10px  solid #F7D358;
    border-radius: 40px;
    opacity: 90%;
width: 100%;

height: 700px;

} 

  

#rod{
    text-align: center;
    width: 100%;
    height: 70px;
} 
.log{
    padding: 1px 2px 3px 4px;
    text-align: center;
   
    width: auto;

}





.cad{


    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    float: left;
    margin: 20px;
    width: 410px;
    background-color: rgb(20, 107, 107);
    height: 645px;

}
.int{
    padding: 20px;
    border-radius: 20px;
    float: left;
    margin: 20px;
    width:780px;
    background-color: aqua;

   

}
.forl{
    width: 390px;
    height: 40px;
text-align: center;
    border-radius: 50px;
}
.logar{
    background-color:rgb(68, 187, 31);
    width: 400px;
    border-radius: 20px;
    text-align: center;
}


img{
    border-radius: 10px;
}